@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <h3>Esta seguro que desea Cerrar este Mes?</h3>
                @Html.ActionLink("NO","Index","Home")
                @Html.ActionLink("SI","Cerrar","Cierre")
            </div>
        </div>
        <!-- row -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/flot/flot.min.js"></script>
    @*<script src="~/Content/js/flot/flot.resize.min.js"></script>*@
    <script src="~/Content/js/dashboard.js"></script>
}
